@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-item {
  height: 100%;
  width: 100%;
  background-color: lightgray; /* Adjust as needed */
  transition: opacity 0.5s ease-in-out;
}


.transition-all {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

html, body {
  font-family: 'Mali', sans-serif;  /* ใช้ Sarabun หรือฟอนต์ที่ต้องการ */
  font-weight: 300;  /* ค่าเริ่มต้น */
  line-height: 1.6;
}

* {
  font-family: inherit;  /* ทุกองค์ประกอบใช้ฟอนต์จาก body */
}

.banner-bg-1
{
  background: linear-gradient(to bottom right, #343846, #181d2d);
}

.banner-bg-2
{
  background: linear-gradient(to top right, #343846, #181d2d);
}

.banner-bg-3
{
  background: linear-gradient(to top left, #343846, #181d2d);
}

.banner-bg-4
{
  background: linear-gradient(to bottom left, #343846, #181d2d);
}

.photo-bg
{
  background: linear-gradient(to right, rgb(172, 1, 83),rgb(240, 77, 142));
}